
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap%27');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    color: #000000;
}



.page-header {
    display: flex;
    justify-content: center;
    padding: 28px 0;
    background: #000000;
}

.header-logo {
    display: block;
}

.main-banner {
    display: block;
    width: 100%;
}

.top-infocard {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 66px 0 76px;

}

.top-infocard-text  {
    text-align: center;
    max-width: 766px;

}

.top-infocard-text p

.top-infocard-text h2 {
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 400;
}

.top-infocard-text h1 {
    text-transform: uppercase;
    margin-bottom: 24px;
    font-size: 48px;
    font-weight: 500;
}

.top-infocard-description {
    text-align: left;
    line-height: 24px;
    font-size: 16px;
    font-weight: 400;
}

.top-infocard-image-div {
    display: flex;
    justify-content: center;
    padding: 68px 0 186px;
      
}

.top-cards {
    display: grid;
    grid-template-columns: repeat(3,max-content);
    gap: 20px;
    justify-content: center;
    padding: 74px 0;
}

.top-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 26px 26px 34px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.23);
}

.top-card-image {
    display: block;
    margin-bottom: 26px;
}

.top-card-description {
    max-width: 300px;
    text-align: center;
    line-height: 24px;
    font-size: 16px;
}

.middle-banner-div {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    gap: 5px;
    justify-content: center;
    width: 100%;
    
}

.bottom-cards {
    margin-top: 138px;
  
}

.bottom-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 36px 32px 36px;
    background: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
}

.bottom-cards-wrapper {
    display: grid;
    grid-template-columns: repeat(4, max-content);
    gap: 16px;
    justify-content: center;
    position: relative;   
}

.bottom-card-image {
    display: block;
    margin-bottom: 14px;
}

.bottom-card-description {
    max-width: 368px;
    text-align: center;
    line-height: 24px;
    font-size: 16px;
}

.bottom-infocard {
    display: flex;  
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 150px 0 32px;
}

.bottom-infocard-image-section {
    display: flex;
    justify-content: center;
   
}

.bottom-infocard-image-desktop {
    margin-right: 40px;
    width: 1360px;
    height: 276px;
    left: 259px;
    top: 3370px;
   padding: 0 260px 104px 260px;
  
}

.bottom-infocard-text {
    max-width: 550px;
}

.bottom-infocard-title {
    margin-bottom: 18px;
    line-height: 1;
    font-size: 32px;
    font-weight: 600;
}

.bottom-infocard-description {
    line-height: 24px;
    font-size: 16px;
}




.page-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 38px 0;
    background: #000000;

}

.footer-icons {
    display: flex;
    list-style: none;
    margin-bottom: 16px;
}

.footer-icon{
    margin: 0 8px;
}

.footer-text {
    text-transform: uppercase;
    line-height: 12px;
    font-size: 10px;
    color: #BDBDBD;
}

@media screen and (max-width: 412px) {
    .main-banner-desktop, .bottom-infocard-image-desktop {
        display: none;       
    }
}

@media screen and (min-width: 413px) {
    .main-banner-mobile, .bottom-infocard-image-mobile {
        display: none;
    }    
}


@media screen and (max-width:768px){
    .top-infocard {
        flex-direction: column;
    }

    .top-infocard-text {
        margin-right: 0 0 76px;
    }

    .top-infocard-subtitle {
        font-size: 20px;
    }

    .top-infocard-title {
        font-size: 28px;
        margin-bottom: 20px;
    }

    .top-infocard-image-div {
        padding: 20px 0 126px;
    }

    .top-infocard-image {
        max-width: 240px;
        width: 100%;
        
    }

    .top-cards {
        grid-template-columns: 1fr;
        padding: 36px 26px;
    }

    .bottom-cards {
        margin-top: 114px;
        padding: 0 26px;
    }

    .bottom-cards-wrapper {
        grid-template-columns: 1fr;
        gap: 16px;

    }

    .bottom-card-description {
        font-size: 14px;

    }

    .page-footer {
        padding-bottom: 26px; 
    }

    .footer-text {
        min-width: 280px;
        text-align: center;
    }
}

@media screen and (max-width: 992px) {
    .top-infocard {
        flex-direction: column;
        padding: 84px 30px 20px;
    }

    .top-infocard-text {
        margin: 0 0 68px;
    }

    .top-infocard-subtitle {
        font-size: 20px;
    }

    .top-infocard-title {
        margin-bottom: 20px;
        font-size: 28px;
    }

    .top-infocard-image {
        
        min-width: 200px;
    }

    .bottom-infocard {
        flex-direction: column;
        padding: 80px 0 136px;
    }

    .bottom-infocard-image {
        width: 100%;
        min-width: 596px;
        margin: 0 0 50px;
    }

    .bottom-infocard-text {
        padding: 0 26px;
    }

    .bottom-infocard-title {
        font-size: 24px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
    .top-cards {
        grid-template-columns: repeat(2, max-content);
        padding: 0px 26px 36px;
    }

}

@media screen and (min-width: 769px) and (max-width: 1992px) {
    .bottom-card-description {
        max-width: 280px;
}

@media screen and ( min-width: 993px) and (max-width: 1280px) {
    .top-infocard-text {
        min-width: 520px;   
        margin-right: 70px;
    }
}

.bottom-infocard-image {
    max-width: 480px;
}

.bottom-infocard-text {
    max-width: 400px;
}
 


}